/*reset*/

	*{
		padding:0;
		margin:0;
	}

	html{
		box-sizing: border-box;
		scroll-behavior: smooth;
	}

	
	*, *:before, *:after {
   	 box-sizing: border-box;
	}

	a{
	    color: black;
	    cursor: pointer;
	    text-decoration: none;
	    background-color: transparent;
	    font-weight: bold;
	}


	/*end_reset*/