.section-feedback {
	background: url("../images/overlay.png") repeat, url('../images/employee-background.png') no-repeat;
	background-size: cover;
	text-align: center;
	color: white;
}

.section-feedback__quotes {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 5em;
	background: none;
}